/* Reset CSS para garantir consistência */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  width: 100%;
  min-height: 100vh;
}

#root {
  width: 100%;
  min-height: 100vh;
}

.custom-form {
  .MuiButton-contained {
    text-transform: none;
    font-weight: 500;
    padding: 0px 0px;
    border-radius: 4px;
    margin-top: 0px;
  }

  .MuiFormControl-root {
    margin-bottom: 16px;
  }

  .MuiInputBase-root {
    border-radius: 4px;
  }

  .MuiOutlinedInput-notchedOutline {
    border-color: rgba(255, 255, 255, 0.23);
  }

  .MuiTypography-root {
    color: #90caf9;
  }
}

.field-spacing {
  margin-bottom: 8px !important;
}